{% extends 'base.html' %}

{% load static %}

{% block menu %}
<a class="nav-link active" href="/"><strong> Home </strong></a>
<a class="nav-link" href="/catalog/"><strong> Catalog </strong></a>
<a class="nav-link" href="/catalog/sale"><strong> Sales </strong></a>
<a class="nav-link" href="/basket"><strong> Basket </strong></a>
<a class="nav-link" href="/delivery"><strong> Delivery </strong></a>
{% endblock %}

{% block main %}
<img src="static/home/images/index.jpg" alt="index" align="middle" vspace="5" hspace="5">
<br>
<br>
<br>
<h4>Добро пожаловать в интернет – магазин цифровой техники и бытовой электроники "Мир гаджетов"!</h4>
<h4>Нашим основным преимуществом является лучший ассортимент, удобство покупки онлайн, отличные цены и гибкие возможности доставки. На нашем сайте вы сможете выбрать и купить смартфоны самых популярных брендов и акссесуаров для них.</h4>
<h4>А еще хотим напомнить, что у вас всегда будет возможность купить технику с бесплатной доставкой на дом. На весь наш товар предоставляется фирменная гарантия от производителя. Оплатить свою покупку Вы сможете наличными при получении товара.</h4>
<h4>Если у Вас возникли какие – либо вопросы – пожалуйста, звоните нам по номеру 0-800-300-100 (звонки со стационарных телефонов на территории Украины бесплатные) и наши специалисты с радостью ответят на Ваши вопросы!</h4>
<br>
<h4><img src="static/home/images/phone.jpg" width="270" height="180" alt="support" align="left" vspace="10" hspace="10">+38 (096) 444-44-44<br><br>+38 (050) 444-44-44<br><br>+38 (066) 444-44-44<br><br>+38 (063) 444-44-44</h4>
<br>
<br>
{% endblock %}