{% extends 'base.html' %}

{% load static %}

{% block menu %}
    <a class="nav-link" href="/"><strong> Home </strong></a>
    <a class="nav-link" href="/catalog/"><strong> Catalog </strong></a>
    <a class="nav-link" href="/catalog/sale"><strong> Sales </strong></a>
    <a class="nav-link active" href="/basket"><strong> Basket </strong></a>
    <a class="nav-link" href="/delivery"><strong> Delivery </strong></a>
{% endblock %}

{% block main %}
    {% if text != None %}
        <h3><img src="{% static "basket/images/basket.jpg" %}" width="190" height="190" alt="catalog" align="left" vspace="1" hspace="1"><br><br><br><strong><u id='main'> </u></strong>
        <a class="nav-cat active" href="{% url 'basket:basket' %}"><strong>Кoрзина</strong></a><a class="nav-cat" href="{% url 'basket:order' %}"><strong>Заказы</strong></a>
    {% else %}
        <h3><img src="{% static "basket/images/Yes.jpg" %}" width="190" height="190" alt="catalog" align="left" vspace="1" hspace="1"><br><br><br><strong><u id='main'> </u></strong>
        <a class="nav-cat" href="{% url 'basket:basket' %}"><strong>Кoрзина</strong></a><a class="nav-cat active" href="{% url 'basket:order' %}"><strong>Заказы</strong></a>
    {% endif %}
    </h3>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div id='main'>
        {% if text %}
            {% if text_mas %}
                <table>
                    <tr>
                        <th class='centered'>Код</th>
                        <th class='centered'>Название</th>
                        <th class='centered'>Цвет</th>
                        <th class='centered'>Кол-во</th>
                        <th class='centered'>Цена</th>
                        <th class='centered'>Сумма</th>
                    </tr>
                    <tr>
                        {% for good in text_mas %}
                            {% if forloop.counter == 6 or forloop.counter == 12 or forloop.counter == 18 or forloop.counter == 24 or forloop.counter == 30 or forloop.counter == 36 or forloop.counter == 42 or forloop.counter == 48 or forloop.counter == 54 or forloop.counter == 60 or forloop.counter == 66 or forloop.counter == 72 or forloop.counter == 78 or forloop.counter == 84 or forloop.counter == 90 or forloop.counter == 96 or forloop.counter == 102 or forloop.counter == 108 or forloop.counter == 114 or forloop.counter == 120 %}
                                <td class='centered'>{{ good }}</td>
                                <tr></tr>
                            {% else %}
                                <td class='centered'>{{ good }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    <td class='centered'> </td><td class='centered'> </td><td class='centered'> </td><td class='centered'> </td><td class='centered'><strong>ИТОГО:</strong></td><td class='centered'><strong>{{ total|floatformat:"2" }}</strong></td>
                </table>
                <br>
                <br>
                <p><a class="btn btn-primary" href="{% url 'basket:delfirst' %}" role="button"><strong> Удалить первую запись </strong></a><a class="btn btn-primary" href="{% url 'basket:delall' %}" role="button"><strong> Очистить корзину </strong></a><a class="btn btn-primary" href="{% url 'basket:dellast' %}" role="button"><strong> Удалить последнюю запись </strong></a>
                <a class="btn btn-primary" href="{% url 'basket:makeorder' %}" role="button"><strong>&laquo; Оформить заказ &raquo;</strong></a></p>
            {% else %}
                <h3 class="b3">{{ text }}</h3>
            {% endif %}
        {% else %}
            {% if order %}
                <table>
                    <tr>
                        <th class='centered'>Номер заказа</th>
                        <th class='centered'>Сумма заказа</th>
                        <th class='centered'>Статус заказа</th>
                    </tr>
                    <tr>
                        {% for good in order %}

                            <td class='centered'>{{ good.id }}</td>
                            <td class='centered'>{{ good.reserve_3|floatformat:"2" }}</td>
                            {% if good.status == 2 %}
                                <td class='centered'><a href="{% url 'basket:history' good.id %}" title="История заказа">Оформлен</a></td>
                            {% endif %}
                            {% if good.status == 3 %}
                                <td class='centered'><a href="{% url 'basket:history' good.id %}" title="История заказа">Обрабатывается</td>
                            {% endif %}
                            {% if good.status == 4 %}
                                <td class='centered'><a href="{% url 'basket:history' good.id %}" title="История заказа">Отправлен</td>
                            {% endif %}
                            {% if good.status == 5 %}
                                <td class='centered'><a href="{% url 'basket:history' good.id %}" title="История заказа">Оплачен</td>
                            {% endif %}
                            {% if good.status == 6 %}
                                <td class='centered'><a href="{% url 'basket:history' good.id %}" title="История заказа">Получен</td>
                            {% endif %}
                            {% if good.status == 7 %}
                                <td class='centered'><a href="{% url 'basket:history' good.id %}" title="История заказа">Возвращён</td>
                            {% endif %}
                            {% if good.status == 8 %}
                                <td class='centered'><a href="{% url 'basket:history' good.id %}" title="История заказа">Отменён</td>
                            {% endif %}
                            <tr></tr>
                        {% endfor %}
                    </tr>
                </table>
                <br>
                <br>
            {% else %}
                <h3 class="b3">{{ text_order }}</h3>
            {% endif %}
        {% endif %}
    </div>
    <br>
    <br>
    <br>
{% endblock %}