{% extends 'base.html' %}

{% load static %}

{% block menu %}
<a class="nav-link" href="/"><strong> Home </strong></a>
<a class="nav-link" href="/catalog/"><strong> Catalog </strong></a>
<a class="nav-link" href="/catalog/sale"><strong> Sales </strong></a>
<a class="nav-link" href="/basket"><strong> Basket </strong></a>
<a class="nav-link active" href="/delivery"><strong> Delivery </strong></a>
{% endblock %}

{% block main %}

<h4><img src="{% static "delivery/images/delivery.jpg" %}" width="190" height="190" alt="delivery" align="left" vspace="1" hspace="1"><br><br>Оформить заказ на сайте Вы можете круглосуточно.<br>Забрать оформленный или оплаченный заказ можно как в пункте выдачи:<br>- г.Киев, ул.Генерала Ушакова 9Б (с 9:00 до 18:00, кроме воскресенья);<br>- воспользоваться нашей курьерской службой - в пределах города Киева бесплатно;<br>- так и заказать доставку сторонней курьерской службой.<br>
<br><br>Внимание!<br>Заказывая доставку товара сторонними курьерскими службами (Нова пошта, Мист Экспресс ) - при получении обязательно проверяйте наличие всего товара в заказе, а так же его внешний вид.<br>В случае повреждения товара, или неполной комплектации заказа - необходимо отказаться от получения товара и его оплаты, а так же составить акт(претензию) . В случае если данная ситуация будет иметь место - обязательно сообщите нам о случившемся по тел: (044) 537-02-22, (044) 503-80-80<br><br><br>Из-за напряженной ситуации в восточном регионе, временно приостановлена доставка товаров в г. Донецк и г. Луганск.
Вместе с тем сильно ограничена и задерживается доставка по Луганской и Донецкой областям. <br><br>Вы можете сделать ТОЛЬКО ОДИН дозаказ к заказу, на сумму от 100 грн, если Ваш основной заказ еще не уехал.<br><br>В зависимости от суммы Вашего заказа Вы можете получить следующую скидку:
<br>от  2000 грн. - 2 %
<br>от  3000 грн. - 3 %
<br>от  4000 грн. - 4 %
<br>от  5000 грн. - 5 %
<br>от  6000 грн. - 6 %
<br>от  7000 грн. - 7 %
<br>от  8000 грн. - 8 %
<br>от  9000 грн. - 9 %
<br>от 10000 грн. - 10 %</h4>
<br>
<br>
{% endblock %}